In [1]:
import pandas as pd

In [33]:
df = pd.read_csv('./output.csv', header = None)
backup_df = df

In [34]:
print (df.shape)

(8973965, 13)

In [35]:
# Pick the rows where the fifth column is 15
df = df[df[5] == 15]
backup_df = backup_df[backup_df[5] == 15]

In [36]:
# Drop the first 5 columns
df = df.drop(df.columns[[0, 1, 2, 3, 4, 5]], axis=1)

In [37]:
# Drop the column with the name 7, 9, 10
df = df.drop([7], axis=1)

In [52]:
# Sum the values of column 11, 12 which have the same 6th column and 8th column, and average them by number of occurences of the same 6th column and 8th column
result = df.groupby([6, 8])[[11, 12]].mean()

In [55]:
result [0:20]

                                               11        12
6                                  8
albumentations-team+albumentations 180   0.857143  0.857143
                                   186   0.939138  0.495109
                                   207   0.299018  0.254698
                                   213   0.954046  0.945734
                                   215   0.208601  0.208601
                                   760   0.309153  0.309153
allegroai+clearml                  273   0.716814  0.716814
allenai+allennlp                   292   0.781026  0.633705
                                   572   0.616040  0.665053
                                   4255  0.496167  0.496167
                                   4281  0.533241  0.282848
                                   4318  0.535016  0.414431
                                   4319  0.325432  0.325432
                                   4330  0.080094  0.071938
                                   4357  0.258320  0.293239
                                   4360  0.661783  0.296608
                                   4378  0.327394  0.146433
                                   4427  0.655354  0.655354
                                   4428  0.106653  0.106653
                                   4494  0.286728  0.286728

In [56]:
#download the result as a csv file
result.to_csv('results_rq1_BLIA.csv')